
<aside
  style="position: fixed"
  class="main-sidebar sidebar-dark-primary elevation-4"
>
  <!-- Brand Logo -->
  <a href="{% url 'index'%}" class="brand-link">
    <span class="brand-text font-weight-light">مستودع الرسائل </span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image"></div>
      <div class="info">
        <a href="{% url 'index'%}" class="badge badge-primary text-wrap">كلية زراعة جامعة القاهرة</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2" >
     <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item">
          <a href="{% url 'book'%}" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>الرسائل</p>
          </a>
        </li>
      <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="fa fa-graduation-cap"></i>
            <p>
              حسب تصنيف الطالب
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            {% for cat in category %}
            <li style="cursor: pointer" class="nav-item  cat{{cat.id}}">
              <a id="" class="nav-link">
                <i class="fa fa-graduation-cap"></i>
                <p>{{ cat.name }}</p>
              </a>
            </li>
            {% endfor %}
          </ul>
      </li>
     <li class="nav-item">
          <a href="{% url 'dash'%}" class="nav-link">
           <i class="fa fa-certificate" aria-hidden="true"></i>
            <p>الاحصائيات</p>
          </a>
        </li>
    
     </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
